$color_word: #fff;
$fundo: url("../../dist/img/cenario.png");
$palavra_title: url("../../dist/img/palavras.png");
$btn_play: url("../../dist/img/comecar.png");

@font-face {
  font-family: "Pixel-Operator";
  src: url("../../dist/fonts/PixelOperator-Bold.ttf");
}

.container {
  max-width: 900px;
}

.puzzleSquare,
.word,
.timer {
  font-family: "Pixel-Operator" !important;
  font-size: 25px !important;
  font-weight: bold !important;
  text-transform: uppercase;
}

.main-content {
  height: 100vh;
  width: 100vw;
  background-size: cover !important;
  background-position-y: center !important;
  background-position-x: right !important;
  background-repeat: no-repeat !important;
  background: $fundo;
  text-align: center;

  .word {
    color: $color_word;
  }

  .timer {
    color: white;
  }

  .words-title {
    background: $palavra_title;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    background-position-x: center;
  }

  .play-btn {
    position: absolute;
    bottom: 250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: $btn_play;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    height: 45px;
    width: 236px;
    border-radius: 10px;
  }

  &.playing {
    .play-btn {
      display: none !important;
    }
    .wrapper {
      display: block;
    }
  }

  .wrapper {
    display: none;
    align-items: baseline;

    #puzzle {
      background: url("../../dist/img/box-palavras.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 1000px) {
    background-size: 100% 100% !important;
    background-position-x: center !important;

    &.playing {
      .wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-evenly;

        padding-top: 2%;

        .words-title {
          margin-top: 30px;
        }

        #puzzle {
          margin-top: 0;
        }
      }
    }
  }

  @media (min-width: 800px) and (max-width: 1000px) {
    #words {
      margin: 30px auto;
    }

    .play-btn {
      bottom: 500px;
    }
  }
}
